@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
	font-family: 'Roboto', sans-serif;
    align-content: ;
}

a{
	text-decoration: none;
	border-radius: 5px;
}

#DATOS{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100vw;
}

.container{
	width: 40%;
	background: rgb(0, 0, 0, 0.2);
	border: 2px solid black;
	text-align: center;
	font-weight: bold;
}

form{
	min-width: 40%;
}


/*_____________________________________*/
.datos{
	background: rgb(0, 0, 0, 0.2);
	border: 2px solid black;
}

.correo-p{
	font-weight: bold;
	text-align: center;
}

input{
	font-size: 20px;
	margin-left: 30%;
	height: 30px;
	width: 40%;
	cursor: pointer;
	font-weight: bold;
	overflow-y: auto;
	transition: 0.3s all;
}

input:hover{
	background:  rgb(0, 0, 0, 0.1);
    
}
	
.contraseña-p{
	font-weight: bold;
	text-align: center;

}	

.nombre-p{
	font-weight: bold;
	text-align: center;
}


.cancelar{
	padding: 10px;
	background: rgb(0, 0, 0, 0.2);
	border: 1.9px solid black;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.siguiente{
	padding: 10px;
	background: rgb(0, 0, 0, 0.2);
	border: 1.9px solid black;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	
	
}
